<div class="message mt-3">
    <% flash.each do |key, message| %>
        <div class="alert <%= flash_class(key) %> alert-dismissible fade show fadeOut" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
</div>