@media screen and (max-width: 992px) {
  .page {
    padding: 150px 0;
  }
  .navigation .navigation-container .icon-bar {
    display: block;
  }
  .navigation .navigation-container .menu-item {
    display: none;
  }
}
